@media screen and (min-width: 48em) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
      }

    .header__search {
        width: 9.75rem
    }

      .cards {
        width: 10.75rem;
        height: 9.5rem;
    }  
}

@media screen and (min-width: 64em) {
    .offer__list-item {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .header__search {
        width: 16.75rem
    }

    .cards {
        width: 11.75rem;
        height: 10.5rem;
}
}

@media screen and (min-width: 80em) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}

@media screen and (min-width: 90em) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 160em) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
